.callout
  margin: $spacing.three 0
  padding: $spacing.base

  @supports (object-fit: contain)
    figure
      margin-top: -($spacing.base)
      margin-left: -($spacing.base)
      margin-right: -($spacing.base)

      img
        height: 100%
        width: 100%
        object-fit: cover

      figcaption
        text-align: center

  blockquote
    border: 0
    margin: 0
    padding: 0

  // Colours ===

  &-grey
    background: $color.ll

  &-primary
    border: 1px solid $color.theme.p
    background: $color.theme.ll

  &-secondary
    background: $color.theme.p

  // Positioning ===

  &-split,
  &-triple
    display: flex

    figure
      margin: 0

  &-split
    > *
        flex-basis: 50%

  &-triple
    > *
        flex-basis: 33%


.callout-Footer
  position: relative
  margin-left: -($spacing.base + $spacing.px)
  margin-bottom: -($spacing.base + $spacing.px)
  margin-right: -($spacing.base + $spacing.px)
  padding: $spacing.base
  border: 1px solid alpha($color.b, 10%)
