// -----------------------------------------------------------------------------
// Colour variables
// =============================================================================
// Reset some colors and add Material-ish theme
// @ https://bit.ly/2y5SF9E


--color-dddd: #212121;
--color-ddd: #404040;
--color-dd: #8c8c8c;
--color-d: #a6a6a6;

--color-lll: #fff;
--color-ll: #f1f1f1;
--color-l: #ccc;

--color-ppp: #1976D2;
--color-pp: #2196F3;
--color-p: #BBDEFB;

--color-s: #D32F2F;
