.gl-Footer
  margin-top: $spacing.half
  padding: $spacing.two
  color: $color.wwww
  text-align: center
  background: $color.theme.ss

  @media (min-width: $screen.md)
    margin-top: $spacing.one

.gl-FooterText
  margin: 0
