.keywords
  font-weight: bold

  &-highlight
    text-decoration: underline

  &-box
    padding: $spacing.quarter $spacing.half
    background: $color.wwww
    border: $spacing.px outset $color.bbbb
    border-radius: $border.radius

    .callout &
      padding: $spacing.one

  &-circle
    border: $spacing.px solid $color.bbbb
    border-radius: 50%

  &-primary
    color: $color.theme.ppp

    ^[0]-box&
      border-color: $color.theme.ppp

  &-secondary
    color: $color.theme.sss

    ^[0]-box&
      border: $spacing.px outset $color.theme.sss
