// -----------------------------------------------------------------------------
// Footer
// =============================================================================
// 1. Hide when printing

.gl-footer {
  @media screen {
    background: var(--color-p);
    // border-top: var(--spacing-px) solid var(--color-ll);
  }

  a {
    color: var(--color-dddd);
    text-decoration: underline;

    &:hover,
    &:focus {
      color: var(--color-ppp);
    }
  }
}

.gl-f-social {
  @media screen {
    li {
      list-style: none;
      margin-left: 0;
    }
  }
}

.gl-f-tagline {
  background: var(--color-dddd);
  color: var(--color-lll);
  font-family: var(--font-family-mono);
  font-size: var(--font-size-mm);

  @media print {
    display: none; // (1)
  }

  @media screen and (min-width: 772px) {
    font-size: var(--font-size-m);
  }

  p {
    margin-bottom: var(--spacing-half);
  }

  a {
    color: var(--color-lll);
  }
}

.gl-f-social,
.gl-ft-content {
  padding: var(--spacing-one);

  @media screen and (min-width: 772px) {
    margin: 0 auto;
    padding: var(--spacing-one) 0;
    width: var(--grid-width-small);
  }
}
