// -----------------------------------------------------------------------------
// Grid
// =============================================================================
// > Print grids do not perform the same as screen grids!
// > See `⭐-CSS-GRID-LAYOUT` keynote for rough diagrams :)
//
// 1. Baseline grid is `4dp`/`8dp` (see `print-first-css` for `line-height`)
// 2. Screen-based vertical rythmn is hard (use similar sizing units)
// 3. It's not necessary to use `grid` for mobile, but we're doing it here.
//
// Vertical rythmn
// ---------------
// > Outer grid rows are currently automatically sized
//
// Unless your design is _very_ specific and rigid, you're going to have issues
// making the outer grid rows a square size. You've got different screen sizes
// to consider, and the outer grid is only 2 rows deep.
//
// Let the main content worry about sizing to the grid where it's appropriate,
// and use standard `--spacing` where it isn't. Everything should align to a
// .gl-BaselineGrid` and be divisible by 4. You can use the square (and other
// grids) as a baseline when sizing block-level elements vertically.
//
// Overlapping grids
// -----------------
// > Unless we change our "semantic" html structure, we'll have to overlap
// > `nav` and `main` to get the desired layout. I'm not sure if there's a
// > better way.
//
// 1. Nav may need to get wider (expand leftwards from `.gl-grid-square`
// 2. Nav may need it's own separate grid, overlapping the square one
// 3. Tracks can be named and use their automatic `-start` and `-end` lines
//
// Subgrids and named `grid-template-areas`
// -------------------------------------------
// > - Subgrids only inherit the grid lines/tracks of the parents!
// > - Child elements can only reference their IMMEDIATE parent's named areas.
// > - So named `grid-area`s are scoped locally to each grid container.
//
// You've also got to watch out how many elements you have within a `subgrid`.
// For example `.subgrid > .item4` would be FOUR rows. If you're trying to position
// to a parent grid's TWO rows it's going to be difficult (or impossible)
//
// I don't think it's currently possible to target `subgrid` children with
// named `grid-template-areas` (e.g: `.gl-body -> grid-area: body;`).
//
// Bugs
// ----
// 1. You can't use css variables inside `@media` queries.
// 2. Be careful of sizing columns and rows when html elements don't match
//    - For example, `nav header main` are stacked and `nav` takes 3 rows ...
//    - But `main` hasn't been styled so only 2 rows are visible in inspector
//    - Similar to intrinsic rows I guess (more html elements than are in css grid)
// 3. I managed to crash Safari by messing up the css grid declarations
//    - @ #306c56c

:root {
  // Square grid
  --grid-width-small: 740px;  // + 16dp margin = 772px
  --grid-width-medium: 928px; // + 16dp margin = 960px
  --grid-gap: var(--spacing-three-quarters);
  --spacing-grid-square: 176px;
  --spacing-grid-square-half: 88px;
  --spacing-grid-square-quarter: 44px;
}

.gl-grid-square {
  display: grid;
  gap: var(--spacing-three-quarters);
  grid-template-columns: 1fr;
  grid-template-rows:
    var(--spacing-grid-square-quarter)
    var(--spacing-grid-square-half)
    auto;
  grid-template-areas:
    "nav"
    "header"
    "main";
  margin: var(--spacing-one);

  @media screen and (min-width: 772px) {
      grid-template-rows:
        var(--spacing-grid-square-half)
        var(--spacing-grid-square)
        auto;
      margin: 0 auto;
      width: var(--grid-width-small);
  }

  // #! (2)
  @media screen and (min-width: 960px) {
    grid-template-columns: repeat(5, 1fr);
    grid-template-rows:
      var(--spacing-grid-square)
      auto
      auto;
    grid-template-areas:
      "header header header header header"
      "nav    col2   col3   col4   col5"
      "nav    col2   col3   col4   col5"; // #! (3) Overlap `nav`?
    width: var(--grid-width-medium);
  }
}

nav {
  align-content: center;
  grid-area: nav;

  @media screen and (min-width: 960px) {
    align-content: start;
  }
}

header {
  align-content: end;
  grid-area: header;
}

main {
  grid-area: main;

  @media screen and (min-width: 960px) {
    display: grid;
    grid-area: unset;
    grid-column: nav-start / col5-end; // #! (3)
    grid-row: nav-start / nav-end;   // #! (3)
    grid-template-columns: subgrid;
    grid-template-rows: subgrid;
    grid-template-areas:
      ". intro intro intro intro"
      "body body body body body";
  }
}

.gl-intro {
  @media screen and (min-width: 960px) {
    // grid-column: col2-start / col5-end;
    // grid-row: nav-start / 2;
    grid-area: intro;
  }
}

.gl-body {
  @media screen and (min-width: 960px) {
    display: grid;
    grid-area: body;
    grid-template-columns: subgrid;
  }
}

.gl-b-content {
  @media screen and (min-width: 960px) {
    grid-column: col2-start / col5-end;
  }

  &.full-width {
    @media screen and (min-width: 960px) {
      grid-column: nav-start / col5-end;
    }
  }
}
