// -----------------------------------------------------------------------------
// Header
// =============================================================================

.gl-folio {
  border-bottom: var(--spacing-px) solid var(--color-ll);
  border-bottom: var(--spacing-px) solid var(--color-ll);
  color: var(--color-dd);
  font-family: var(--font-family-mono);
  font-size: var(--font-size-mm);
  padding: var(--spacing-three-quarters);

  p {
    margin: 0;
  }

  a {
    color: var(--color-dd);
    text-decoration: underline;

    &:visited {
      color: var(--color-dd);
    }

    &:hover,
    &:focus {
      color: var(--color-ppp);
    }
  }
}


// -----------------------------------------------------------------------------
// Navigation
// -----------------------------------------------------------------------------
// 1. Counters @ https://bit.ly/2tW2QvT and @ https://bit.ly/2KKKSpL

nav {
  border-bottom: var(--spacing-px) solid var(--color-ll);
  overflow: scroll; // Mobile `li` overflows

  @media print {
    display: none;
  }

  @media screen and (min-width: 772px) {
    font-size: var(--font-size-p);
  }

  @media screen and (min-width: 960px) {
    // align-self: start;
    // justify-self: center;
    border-bottom: none;
    font-size: var(--font-size-p);
    padding: calc(var(--spacing-micro) * 4) 0 0;
  }

  a {
    text-decoration: none;
  }
}

nav ol {
  counter-reset: li;  // (1)
  display: flex;
  align-content: flex-start;
  flex-direction: column;
  flex-wrap: wrap;
  height: var(--spacing-increment);
  list-style: none;
  margin: 0;

  @media screen and (min-width: 960px) {
    display: block;
    height: auto;
  }
}

nav ol li {
  margin: 0;
  padding-right: var(--spacing-one);

  &::before {
    color: var(--color-s);
    counter-increment: li;
    content: counters(li, ".", decimal-leading-zero); // (1)
    font-family: var(--font-family-mono);
    margin-right: var(--spacing-half);
  }

  @media screen and (min-width: 772px) {
    &::after {
      content: '·';
      padding-left: var(--spacing-one);
    }

    &:last-child::after {
      content: '';
    }
  }

  @media screen and (min-width: 960px) {
    padding: 0;

    &::after {
      content:none;
    }
  }
}


// -----------------------------------------------------------------------------
// Main heading
// -----------------------------------------------------------------------------

header {
  h1 {
    margin-bottom: 0;

    @media screen and (min-width: 800px) {
      font-size: var(--font-size-pppppp);
    }
  }
}
