blockquote
  color: $color.ddd
  border-left: $spacing.micro solid $color.dd

  @media screen and (min-width: var(--screen-medium))
    margin-left: -($spacing.one)
    padding-left: $spacing.one - $spacing.micro

  cite
    color: $color.ddd
    font-style: italic

    a
      color: $color.dd
