// -----------------------------------------------------------------------------
// Header
// =============================================================================
// > #! We're going to replace with Elm typewriter package later ... previously
// > this was a simple css animation (see commit #...)


// -----------------------------------------------------------------------------
// Call to action (book a call)
// -----------------------------------------------------------------------------
// #! Animate with Elm Lang for [learning, prototyping, job, ...]

#home .cta {
  padding: var(--spacing-one);
  border-top: var(--spacing-px) solid var(--color-ll);

  @media screen and (min-width: 772px) {
    padding: var(--spacing-two) 0;
  }

  p {
    margin: 0 auto;
    width: var(--grid-width-small);
  }
}

#home .cta .gl-button {
  @media screen {
    color: var(--color-ddd);
    font-family: var(--font-family-mono);
    text-transform: uppercase;
    background: var(--color-lll);
    border: var(--spacing-micro) solid var(--color-ddd);

    &:hover,
    &:focus {
      color: var(--color-lll);
      background: var(--color-ddd);

      abbr {
        color: var(--color-s);
      }
    }
  }

  @media screen and (min-width: 772px) {
    display: inline-block;
    text-align: left;
  }

  abbr {
    text-decoration: none;
  }
}
