// #1: Allow child to be 100% height of parent

.design
  background: $color.ll

.design-Block
  // pass

.design-BlockWrapper
  center()

  @media (min-width: $screen.md)
    display: flex

.design-Profile
  margin: $spacing.half
  background: $color.l

  @media (min-width: $screen.md)
    z-index: 1
    display: flex  // #1
    flex: 1 50%
    margin: $spacing.one 0 0

.design-Skills
  margin-top: $spacing.one
  background: $color.l

  @media (min-width: $screen.md)
    flex: 1 50%
    border-top-right-radius: $border.radius
    border-bottom-right-radius: $border.radius

.design-Portfolio
  margin-top: $spacing.one
  background: $color.llll

.design-PortfolioWrapper
  center()
  padding: $spacing.half

  @media (min-width: $screen.sm)
    padding: $spacing.one

  @media (min-width: $screen.md)
    padding: $spacing.two $spacing.one
