// #1: Allow child to be 100% height of parent

.design
  background: $color.ll

.design-Wrapper
  center()

  @media (min-width: $screen.md)
    display: flex


.design-Profile
  margin: $spacing.half
  background: $color.l

  @media (min-width: $screen.md)
    z-index: 1
    display: flex  // #1
    flex: 1 50%
    margin: $spacing.one 0 0

.design-Skills
  margin-top: $spacing.one
  background: $color.l

  @media (min-width: $screen.md)
    flex: 1 50%
    border-top-right-radius: $border.radius
    border-bottom-right-radius: $border.radius
