// Notes ====================================
// https://www.materialpalette.com/blue/blue-grey

$color = {
  ddd: #212121
  dd: alpha(#212121, 50%)
  d: alpha(#212121, 20%)

  lll: #fff
  ll: #ccc
  l: #f1f1f1

  ppp: #1976D2,
  pp: #2196F3,
  p: #BBDEFB,

  sss: #D32F2F,
  ss: #F44336,
  s: #FFCDD2,
}
