// Grid ========================================
// Reset and add some screen sizes

--screen-small: 400px;
--screen-medium: 800px;
--screen-large: 1200px;

--col-nav: 300px;
--col-main: 730px;
--col-aside: 400px;
