// Notes ====================================
// https://www.materialpalette.com/blue/blue-grey

$color.bbbb = #212121

$color['theme'] = {
  ppp: #1976D2,
  pp: #2196F3,
  p: #BBDEFB,

  sss: #D32F2F,
  ss: #F44336,
  s: #FFCDD2,
}
