.home-Values
  margin-bottom: $spacing.base
  padding: $spacing.base
  border: $spacing.px solid $color.ddd

  @media screen
    border: none
    background: $color.p

.home-Values_Content
  margin: 0
  font-size: $font.size.p

.home-Bullets
  margin-bottom: $spacing.base
  padding: $spacing.base
  border: $spacing.px solid $color.ddd

  @media screen
    border: none
    background: $color.s

.home-Bullets_Title
  // pass

.home-Bullets_Content
  margin: 0
  font-size: $font.size.p
