// != transition effect needed
a
  padding-bottom: $spacing.px
  color: $color.theme.ppp
  text-decoration: none
  border-bottom: $spacing.px solid $color.b

  &:hover,
  &:active
    color: $color.bbbb
    border-color: $color.bbbb
