blockquote
  color: $color.ddd
  border-left: $spacing.px solid $color.dd

  @media screen and (min-width: $screen.medium)
    margin-left: -($spacing.one)
    padding-left: $spacing.one

  cite
    color: $color.ddd
    font-style: italic

    a
      color: $color.dd
