blockquote
  color: $color.bbbb
  font-style: normal
  margin-left: -($spacing.one)
  padding-left: $spacing.one
  border-left: $spacing.px solid $color.bb

  p
    margin: 0
    + p
      margin-top: $spacing.base

  cite
    font-style: italic
    font-size: $font.size.base
    color: $color.bbb

    a
      color: $color.bb
