abbr
  text-decoration: none
  border-bottom: $spacing.px dotted $color.ddd

del,
s
  color: $color.ddd
  text-decoration: line-through
  text-decoration-style: wavy
  opacity: 0.75

ins,
mark
  background: $color.p
