// Notes =======================================================================
// #1: != Should go into print-first-css?

del,
s
  color: $color.ddd
  text-decoration: line-through
  text-decoration-style: wavy
  opacity: 0.75

ins,
mark
  background: $color.p
