// Notes ====================================
// Not sure if `⤷` and `→` look right here
// != Possibly keep a "standard" task list and
//    style this within the `callout` box?

.task-list
  margin-left: 0
  font-family: $font.family.mono
  font-size: $font.size.m
  line-height: $line.height.m

.task-list-item
  &:before
    content: "⤷"
    font-weight: 700
    font-size: $font.size.pp

  &.gh-complete
    color: $color.theme.ppp

  &.gh-incomplete
    color: $color.theme.sss

.task-list-item-checkbox
  display: none !important
