// Notes =======================================================================
// #1: 16:9 ratio: http://bit.ly/2rKQS4r
// #2: Compensate for 24px icon

.card *
  component-debug()

.card
  margin: $spacing.half
  box-shadow: 0 1px 3px alpha(#000, 12%), 0 1px 2px alpha(#000, 24%)

  @media (min-width: $screen.md)
    margin: $spacing.one

.card-Figure
  width: 100%  // #1
  height: 56.25%  // #1
  background: $color.llll

.card-Image
  width: 100%
  height: 56.25%
  object-fit: cover

.card-Header
  margin-bottom: 0
  font-size: $font.size.pp
  line-height: $line.height.pp

.card-SubHeader
  margin-bottom: $spacing.one
  color: $color.bbb
  font-size: $font.size.m
  font-weight: 700
  line-height: $line.height.m

.card-Section
  padding: 0 $spacing.one

  @media (min-width: $screen.md)
    padding: 0 $spacing.base

  &-actions
    display: flex
    justify-content: flex-end
    padding: 0 $spacing.quarter

  &-more
    display: none

.card-Text
  color: $color.bbb
  font-size: $font.size.m
  line-height: $line.height.mm

.card-Button
  display: inline-block
  min-width: 0
  padding: ($spacing.quarter + $spacing.micro)
  color: $color.bbbb
  vertical-align: middle
  white-space: nowrap
  cursor: pointer
  background-color: $color.l
  border: none
  border-radius: 50%
  box-shadow: none

  &:hover
    background-color: $color.lll
  &:active
    background-color: $color.llll
    box-shadow: none

.card-ButtonIcon
  width: $spacing.base  // #2
  height: $spacing.base  // #2
