// Grid ========================================================================
// != Does `.grid-col-gap` change track lines? (increases them)
//         - seems to break layout when added

.gl-Container {
  padding: 0 var(--spacing-one);

  @media screen and (min-width: 800px) {
    display: grid;
    grid-template-columns: 1fr minmax(auto, var(--col-main)) 1fr;
    grid-template-rows: auto auto auto auto auto 1fr;
    padding: 0;
  }
}




// Document header ==============================================================
// #1: Hide browser alert if css grid is supported

.gl-Document {
  padding: var(--spacing-half) 0;
  color: var(--color-dd);
  font-family: var(--font-family-mono);
  font-size: var(--font-size-mm);
  border-bottom: var(--spacing-px) solid var(--color-l);

  @media screen and (min-width: 800px) {
    grid-column: 1 / span 3;
    grid-row: 1;
    padding: var(--spacing-half);
  }
}

.gl-Document_Item {
  display: inline;
  margin: 0;

  &-alert {
    @supports (display: grid) {
      display: none;  // #1
    }
  }
}

.gl-Document_Link {
  color: var(--color-dd);
  text-decoration: underline;

  &:visited {
    color: var(--color-dd);
  }
}




// Header ======================================================================
// 1. Looping animation state. I fucking hate state, but it's kind of nice to
// have some variety rather than just `Data`. The original faded in from further
// below, but leaves too much of a gap with larger text.
//    - A typewriter effect might be more aesthetically pleasing ...
//    - Elm Lang doesn't seem to have word animations built in (`Playground`)
//    - And the packages available need quite a bit of thinking about.
// @ @ https://tinyurl.com/animate-text-fade-in-loop

.gl-Header {
  margin: var(--spacing-one) 0 var(--spacing-two);

  @media screen and (min-width: 800px) {
    grid-column: 2;
    grid-row: 3;
    margin: var(--spacing-one) 0 var(--spacing-two);
  }

  @media screen and (min-width: 1200px) {
    grid-column: 1 / span 2;
    grid-row: 2;
    padding-left: var(--spacing-five);
    margin: var(--spacing-two) 0 var(--spacing-increment);
  }
}

.gl-Header_Title {
  margin: 0;

  @media screen and (min-width: 800px) {
    font-size: var(--font-size-pppppp);
  }
}

// (1)

.changing-keywords {
  vertical-align: top;
  overflow: hidden;
  height: 52px;
  position: relative;
  display: inline-block;
  width: 365px;

  @media screen and (min-width: 800px) {
    height: 112px;
  }
}

.static {
  display: block;

  @media screen and (min-width: 1200px) {
    display: inline-block;
  }
}

.hidden{
  position: absolute;
  top: 20px;
  display: inline-block;
  width: 365px;
    opacity:0;
  animation: slideme 16s infinite;

  @media screen and (min-width: 1200px) {
    text-align: right;
  }
}
.hidden:nth-child(3){
  animation-delay: 4s;
}
.hidden:nth-child(5){
  animation-delay: 8s;
}
.hidden:nth-child(7){
  animation-delay: 12s;
}

@keyframes slideme {
  0% {
    top: 20px;
    opacity:0;
  }
  5% {
    top: 0px;
    opacity:1;
  }
  10%{
    top : 0;
    opacity:1;
  }
  20%{
    opacity:1;
  }
  25% {
  opacity:0.1;
    top : 0;
  }
  30% {
    opacity:0;
    top: 20px;
  }
}




// Navigation ==================================================================
// #1: Counters https://bit.ly/2tW2QvT and https://bit.ly/2KKKSpL

.gl-Nav {
  padding: var(--spacing) 0;
  border-bottom: var(--spacing-px) solid var(--color-l);

  @media print {
    display: none;
  }

  @media screen and (min-width: 800px) {
    grid-column: 2 / span 2;
    grid-row: 2;
  }

  @media screen and (min-width: 1200px) {
    grid-column: 1;
    grid-row: 3;
    align-self: start;
    justify-self: center;
    padding: calc(var(--spacing-micro) * 4) 0 0;
    border-bottom: none;
  }
}

.gl-Nav_List {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  align-content: flex-start;
  height: var(--spacing-increment);
  margin: 0;
  list-style: none;
  counter-reset: li;  // #1

  @media screen and (min-width: 800px) {
    font-size: var(--font-size-p);
  }

  @media screen and (min-width: 1200px) {
    display: block;
    height: auto;
  }
}

.gl-Nav_Item {
  margin: 0;
  padding-right: var(--spacing-one);
  font-family: var(--font-family-mono);

  &::before {
    margin-right: var(--spacing-half);
    color: var(--color-s);
    counter-increment: li;
    content: counters(li, ".", decimal-leading-zero); // #1
  }

  @media screen and (min-width: 800px) {
    &::after {
      content: '·';
      padding-left: var(--spacing-one);
    }

    &:last-child::after {
      content: '';
    }
  }

  @media screen and (min-width: 1200px) {
    padding: 0;

    &::after {
      content:none;
    }
  }
}

.gl-Nav_Link {
  color: var(--color-ppp);
  text-decoration: none;
}




// Main content ================================================================

.gl-Main {
  @media screen and (min-width: 800px) {
    grid-column: 2;
    grid-row: 4;
  }

  @media screen and (min-width: 1200px) {
    grid-column: 2;
    grid-row: 3 / span 2;
    font-size: var(--font-size-p);
  }
}
