// #1: Allow child to be 100% height of parent

.code
  background: $color.dd

.code-Wrapper
  center()

  @media (min-width: $screen.md)
    display: flex


.code-Profile
  margin: $spacing.half
  background: $color.d
  border-top-left-radius: $border.radius
  border-top-right-radius: $border.radius

  @media (min-width: $screen.md)
    z-index: 1
    display: flex  // #1
    flex: 1 50%
    margin: $spacing.one 0 0
    border-radius: 0

.code-Skills
  margin-top: $spacing.one
  background: $color.d

  @media (min-width: $screen.md)
    flex: 1 50%
