.code
  background: $color.dd

.code-Wrapper
  center()

  @media (min-width: $screen.md)
    display: flex


.code-Profile
  margin: $spacing.half
  background: $color.d

  @media (min-width: $screen.md)
    z-index: 1
    flex: 1 50%
    margin: $spacing.one 0 0


.code-Skills
  margin-top: $spacing.one
  background: $color.d

  @media (min-width: $screen.md)
    flex: 1 50%
