.gl-Footer
  padding: $spacing.two
  color: $color.lll
  text-align: center
  background: $color.ss

.gl-Footer_Social
  margin: 0

.gl-Footer_SocialItem
  list-style: none

.gl-Footer_SocialLink
  color: $color.lll

.gl-Footer_CreditItem
  list-style: none

.gl-Footer_CreditItemLink
  color: $color.lll
