// Notes =======================================================================
// #1: Hide footer when printing

.gl-Footer
  margin-top: $spacing.increment

  @media print
    display: none  // #1


.gl-Footer_Section
  // pass

  &-1
    padding: $spacing.base $spacing.base
    text-align: center
    border: $spacing.px solid $color.l
    border-width: $spacing.px 0 $spacing.px 0

  &-2
    padding: $spacing.two $spacing.base
    background: alpha($color.p, 20%)

  &-3
    padding: $spacing.one $spacing.base
    background: $color.ddd

.gl-Footer_CTA
  margin: 0

.gl-Footer_Button
  display: inline-block
  padding: $spacing.one
  color: $color.ddd
  font-family: $font.family.mono
  text-decoration: none
  text-transform: uppercase
  background: $color.lll
  border: $spacing.micro solid $color.ddd
  border-radius: $border.radius

  &:hover,
  &:focus
    color: $color.lll
    background: $color.ddd

  abbr
    text-decoration: none

.gl-Footer_ButtonIcon
  .gl-Footer_Button:hover &
    color: $color.sss

.gl-Footer_Social
  max-width: $width.main
  margin: 0 auto

.gl-Footer_SocialNote
  color: $color.ddd

.gl-Footer_SocialList
  // margin-: 0

.gl-Footer_SocialItem
  list-style: none

.gl-Footer_SocialLink
  color: $color.ddd
  text-decoration: underline

  &:hover,
  &:focus
    color: $color.sss

.gl-Footer_Credit
  max-width: $width.main
  margin: 0 auto

.gl-Footer_CreditNote
  margin-bottom: 0
  color: $color.dd
  font-size: $font.size.mm
  letter-spacing: $font.tracking.pppp

.gl-Footer_CreditLink
  color: $color.dd
  text-decoration: underline

  &:visited
    color: $color.dd

.gl-Footer_Strapline
  margin: 0
  color: $color.lll
  font-family: $font.family.mono
  text-align: center

.gl-Footer_StraplineLink
  color: $color.lll
  text-decoration: underline

  &:hover,
  &:focus
    color: $color.sss

.gl-Footer_Security
  margin-bottom: 0
  color: $color.ll
  font-family: $font.family.mono
  text-align: center

.gl-Footer_SecurityLink
  color: $color.ll
  font-family: $font.family.mono
  text-decoration: underline

  &:hover,
  &:focus
    color: $color.sss
