// Grid ========================================================================
// != Does `.grid-col-gap` change track lines? (increases them)
//         - seems to break layout when added

.gl-Container
  padding: 0 $spacing.one

  @supports (display: grid)
    @media screen and (min-width: var(--screen-medium))
      display: grid
      grid-template-columns: 1fr minmax(auto, $col.main) 1fr
      grid-template-rows: auto auto auto auto auto 1fr
      padding: 0


// Name and credits ============================================================

.gl-Document
  padding: $spacing.half 0
  color: $color.dd
  font-family: $font.family.mono
  font-size: $font.size.mm
  letter-spacing: $font.tracking.pppp
  border-bottom: $spacing.px solid $color.l

  @supports (display: grid)
    @media screen and (min-width: var(--screen-medium))
      grid-column: 1 / span 3
      grid-row: 1
      padding: $spacing.half

.gl-Document_List
  list-style: none
  margin: 0

  @media screen and (min-width: var(--screen-medium))
    display: inline

.gl-Document_Item
  display: inline
  margin: 0

  &-me
    font-weight: 700

    &::after
      content: ' | '

  &-browser
    &::before
      content: ' | '

    @supports (display: grid)
      display: none

  .gl-Document_List-credit &
    &::after
      content: '·'
    &:last-child::after
      content: ''

.gl-Document_Link
  color: $color.dd
  text-decoration: underline

  &:visited
    color: $color.dd


// Header ======================================================================


.gl-Header
  margin: $spacing.one 0 $spacing.two

  @supports (display: grid)
    @media screen and (min-width: var(--screen-medium))
      grid-column: 2
      grid-row: 3
      margin: $spacing.one 0 $spacing.two

    @media screen and (min-width: var(--screen-large))
      grid-column: 1 / span 2
      grid-row: 2
      padding-left: $spacing.six
      margin: $spacing.two 0 var(--spacing-increment)

.gl-Header_Title
  margin: 0

  @media screen and (min-width: var(--screen-medium))
    font-size: $font.size.pppppp


// Navigation ==================================================================
// #1: Counters https://bit.ly/2tW2QvT and https://bit.ly/2KKKSpL

.gl-Nav
  padding: $spacing.base 0
  border-bottom: $spacing.px solid $color.l

  @media print
    display: none

  @supports (display: grid)
    @media screen and (min-width: var(--screen-medium))
      grid-column: 2 / span 2
      grid-row: 2

    @media screen and (min-width: var(--screen-large))
      grid-column: 1
      grid-row: 3
      align-self: start
      justify-self: center
      padding: ($spacing.micro * 4) 0 0
      border-bottom: none

.gl-Nav_List
  display: flex
  flex-direction: column
  flex-wrap: wrap
  align-content: flex-start
  height: var(--spacing-increment)
  margin: 0
  list-style: none
  counter-reset: li  // #1

  @media screen and (min-width: var(--screen-medium))
    font-size: $font.size.p

  @media screen and (min-width: var(--screen-large))
    display: block
    height: auto

.gl-Nav_Item
  margin: 0
  padding-right: $spacing.one
  font-family: $font.family.mono

  &::before
    margin-right: $spacing.half
    color: $color.sss
    counter-increment: li
    content: counters(li, ".", decimal-leading-zero) // #1

  @media screen and (min-width: var(--screen-medium))
    &::after
      content: '·'
      padding-left: $spacing.one
    &:last-child::after
      content: ''

  @media screen and (min-width: var(--screen-large))
    padding: 0

    &::after
      content:none



.gl-Nav_Link
  color: $color.ppp
  text-decoration: none


// Main content ================================================================

.gl-Main
  @media screen and (min-width: var(--screen-large))
    font-size: $font.size.ppp

  @media screen and (min-width: var(--screen-large))
    font-size: $font.size.p

  @supports (display: grid)
    @media screen and (min-width: var(--screen-medium))
      grid-column: 2
      grid-row: 4

    @media screen and (min-width: var(--screen-large))
      grid-column: 2
      grid-row: 3 / span 2
