.pg-Intro
  margin-bottom: $spacing.base

  @media screen and (min-width: var(--screen-large))
    margin-bottom: var(--spacing-increment)

.pg-Intro_Heading
  display: inline
  font-size: $font.size.pp
  font-weight: 700
  margin: 0

  &::after
    content: '; '

  @media screen and (min-width: var(--screen-large))
    font-size: $font.size.ppp

.pg-Intro_Note
  display: inline
  font-size: $font.size.pp
  margin: 0

  @media screen and (min-width: var(--screen-large))
    font-size: $font.size.ppp
