// Notes =======================================================================
// See Material Design "Lists": http://bit.ly/2pg6pNf

.menu-HeaderRow
  padding: $spacing.one

.menu-Header
  margin: 0
  color: $color.bb
  font-size: $font.size.mm
  line-height: $line.height.pp
  font-weight: 700
  text-transform: uppercase

.menu-List
  margin: 0
  padding: 0 0 $spacing.half
  list-style: none

.menu-ListRow
  display: flex
  align-items: center
  margin: 0
  padding: $spacing.one

  &-two-line
    padding-top: $spacing.half + $spacing.quarter
    padding-bottom: $spacing.half + $spacing.quarter

  &-divider
    box-shadow: inset 0px (- $spacing.px) $color.b

.menu-ListColumn
  &-icon
    margin-left: auto

.menu-ListIcon
  // empty

.menu-ListTitle
  display: block

.menu-ListDescription
  color: $color.bbb
  font-size: $font.size.m

.menu-ListDescription_Link
  color: $color.bbb

  &:hover,
  &:focus,
  &:active
    color: $color.theme.ppp
